.dotfiles
.ssh
Codes
.vscode-server
.cache
.docker
.local_confs
.local/state
.python_history*
.zcompdump*
.zprofile.local
.tmux.conf.local
.lesshst
.wget-hsts
.z
.zsh_history
.bash_history
.sudo_as_admin_successful
tmux-*.log
go/bin
.local/bin
bin
