[core]
      excludesfile = ~/.git_global
      editor = "nano -b -r 72"
[commit]
      template = ~/.gitmessage
[fetch]
    # Delete outdated remote references when fetching
    prune = true
[pull]
    rebase = true
[alias]
      fixup = "!git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"
[user]
	name = Jouni Lammi
	useConfigOnly = true
